{% extends "layout" %}
{% block scripts %}
  <script src="/scripts/popup.js"></script>
{% endblock%}
{% block content %}
<h2>{{ advertise.name }}</h2>
<p>{{ advertise.category.name }}</p>
<h3>Leírás</h3>
<pre>
{{ advertise.describing }}
</pre>
<h3>Óradíj</h3>
<pre>
{{ advertise.price }}
</pre>
<h3>Kontakt adtatok:</h3>
<h5>- E-mail:</h5>
<pre>
{{ advertise.email }}
</pre>
<h5>- Telefonszám:</h5>
<pre>
{{ advertise.phone }}
</pre>

{% if (advertise.user_id == currentUser.id) %}
{{ csrfField | safe }}
<a class="btn btn-primary" href="/advertises/{{ advertise.id }}/mod" role="button">Szerkeszt</a>
<a id="btnDelete" class="btn btn-danger" href="/advertises/{{ advertise.id }}/delete" role="button">Töröl</a>
{% endif %}

<span class="help-block"></span>

<div class="modal fade confirm-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-sm" role="document">
        <div class="modal-content">
        <div class="modal-body">
            Biztosan törölni szeretnéd?
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-success modal-ok" data-dismiss="modal">OK</button>
            <button type="button" class="btn btn-danger modal-cancel" data-dismiss="modal">Mégse</button>
        </div>
        </div>
    </div>
</div>

{% endblock %}